.head {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 2px solid #484848;
}

.productList {
  li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    span {
      position: relative;
    }
  }

  .removeProduct {
    position: absolute;
    right: -25px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto 0;
  text-align: left;

  input {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 20px;
  }

  button {
    padding: 20px;
    background: #fff991;
    transition: .5s;
    border: none;
    border-radius: 30px;
    margin: 0 auto 5px;
    outline: none;
    cursor: pointer;
    display: inline-block;

    &:hover {
      background: #d0ffa9;
      color: #fff;
    }
  }
}

.error {
  color: red;
  margin-top: 30px;
}

.newProduct {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #d3ddff;
  color: #000000;
  outline: none;
  cursor: pointer;
}